h1{
  color:#ffffff;
}
h2{
  color:#ffffff;
}
h3{
  color:#ffffff;
}
h4{
  color:#ffffff;
}
h5{
  color:white;
}
h6{
  color:white;
}

p{
  color:white;
}

div{
  color:#ffffff;
}

ul{
  color:#ffffff;
}

li{
  color:#ffffff;
}